# Lab SQL 9

### Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes

In [1]:
# Libraries
from sqlalchemy import create_engine
import pandas as pd
from getpass import getpass  # To get the password without showing the input

### Establishing the connection with MySQL

In [2]:
password = getpass("INSERT YOUR LOVELY PASSWORD: ")

INSERT YOUR LOVELY PASSWORD: ········

In [3]:
connection_string = "mysql+pymysql://root:" + password + "@localhost/sakila"
engine = create_engine(connection_string)

Check the number of rentals for each customer for May

In [4]:
query_may = "SELECT customer_id, COUNT(*) AS num_rentals FROM rentals_may GROUP BY customer_id;"
df_may = pd.read_sql(query_may, engine)

In [5]:
len(df_may)

520

Check the number of rentals for each customer for June

In [6]:
query_june = "SELECT customer_id, COUNT(*) AS num_rentals FROM rentals_june GROUP BY customer_id;"
df_june = pd.read_sql(query_june, engine)

In [7]:
len(df_june)

590

### Write a function that checks if customer borrowed more or less films in the month of June as compared to May

In [8]:
# Here we join the May and June dataframes on customer_id
df = pd.merge(df_may, df_june, on="customer_id", suffixes=("_may", "_june"))

In [9]:
# We create a new column called rental_comparison that indicates if the customer borrowed more or less films in June compared to May
df["rental_change"] = df["num_rentals_june"] - df["num_rentals_may"]
df["rental_comparison"] = df["rental_change"].apply(lambda x: "Borrowed more" if x > 0 else "Borrowed less" if x < 0 else "Borrowed the same")
df = df.drop("rental_change", axis=1)

In [10]:
df

     customer_id  num_rentals_may  num_rentals_june  rental_comparison
0            130                2                 6      Borrowed more
1            459                1                 7      Borrowed more
2            408                3                 3  Borrowed the same
3            333                1                 4      Borrowed more
4            222                5                 2      Borrowed less
..           ...              ...               ...                ...
507          431                1                 7      Borrowed more
508          191                2                 6      Borrowed more
509          351                1                 3      Borrowed more
510           10                1                 5      Borrowed more
511          136                1                 1  Borrowed the same

[512 rows x 4 columns]